<div id="header" class="navbar navbar-inverse navbar-fixed-top">
	<!-- BEGIN TOP NAVIGATION BAR -->
	<div class="navbar-inner">
		<div class="container-fluid">
			<!-- BEGIN LOGO -->
			<span class="brand" style="width:auto;color:white;">
			吉特仓储管理系统
			</span>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="arrow"></span>
			</a>          
			<!-- END RESPONSIVE MENU TOGGLER -->				
			<div class="top-nav">
				<!-- BEGIN QUICK SEARCH FORM -->
				@*<form class="navbar-search hidden-phone">
					<div class="search-input-icon">
						<input type="text" class="search-query dropdown-toggle" id="quick_search" placeholder="搜索单据号" data-toggle="dropdown" />
						<i class="icon-search"></i>
						<!-- BEGIN QUICK SEARCH RESULT PREVIEW -->
						<ul class="dropdown-menu extended">
							<li>
								<span class="arrow"></span>
								<p>Found 23 results</p>
							</li>
							<li>
								<a href="#">
								<span class="label label-success"><i class="icon-user"></i></span>
								Nick Kim, Technical Mana...<i class="icon icon-arrow-right"></i>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-info"><i class="icon-money"></i></span>
								Anual Report,Dec 20...<i class="icon icon-arrow-right"></i>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-warning"><i class="icon-comment"></i></span>
								Re: Nick Dalton, Sep 11:...<i class="icon icon-arrow-right"></i>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-important"><i class="icon-bullhorn"></i></span>
								Office Setup, Mar 12...<i class="icon icon-arrow-right"></i>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-info"><i class="icon-envelope"></i></span>
								Re: Order Status, Jan 12...<i class="icon icon-arrow-right"></i>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-info"><i class="icon-paper-clip"></i></span>
								project_2011.docx, Feb 12...<i class="icon icon-arrow-right"></i>
								</a>
							</li>
							<li>
								<a href="#">
								See all results...
								</a>
							</li>
						</ul>
						<!-- END QUICK SEARCH RESULT PREVIEW -->
					</div>
				</form>*@
				<!-- END QUICK SEARCH FORM -->
				<!-- BEGIN TOP NAVIGATION MENU -->					
				<ul class="nav pull-right" id="top_menu">
					<!-- 仓库选择 开始 -->	
					<li class="dropdown" id="header_notification_bar">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-list"></i><span>&nbsp;@ViewBag.DefaultStorage.StorageName</span>
                        </a>
						<ul class="dropdown-menu extended notification">
                            @foreach (Git.Storage.Entity.Storage.StorageEntity item in ViewBag.StorageList)
                            { 
                                <li class="storage_item" data-StorageNum="@item.SnNum">
								    <a href="javascript:void(0)">
								        <span class="label label-success"><i class="icon-star-empty"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;@item.StorageName
								    </a>
							    </li>
                            }
						</ul>
					</li>
					<!-- 仓库选择 结束 -->

					<!-- BEGIN INBOX DROPDOWN -->
					@*<li class="dropdown" id="header_inbox_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-envelope-alt"></i>
						<span class="label label-success">5</span>
						</a>
						<ul class="dropdown-menu extended inbox">
							<li>
								<p>You have 12 new messages</p>
							</li>
							<li>
								<a href="#">
								<span class="photo"><img src="/Theme/assets/img/avatar-mini.png" alt="avatar" /></span>
								<span class="subject">
								<span class="from">Lisa Wong</span>
								<span class="time">Just Now</span>
								</span>
								<span class="message">
								Vivamus sed auctor nibh congue nibh.
								</span>  
								</a>
							</li>
							<li>
								<a href="#">
								<span class="photo"><img src="/Theme/assets/img/avatar-mini.png" alt="avatar" /></span>
								<span class="subject">
								<span class="from">Alina Fionovna</span>
								<span class="time">16 mins</span>
								</span>
								<span class="message">
								Vivamus sed auctor nibh congue.
								</span>  
								</a>
							</li>
							<li>
								<a href="#">
								<span class="photo"><img src="/Theme/assets/img/avatar-mini.png" alt="avatar" /></span>
								<span class="subject">
								<span class="from">Mila Rock</span>
								<span class="time">2 hrs</span>
								</span>
								<span class="message">
								Vivamus sed auctor nibh congue.
								</span>  
								</a>
							</li>
							<li>
								<a href="#">See all messages</a>
							</li>
						</ul>
					</li>*@
					<!-- END INBOX DROPDOWN -->
					@*<li class="divider-vertical hidden-phone hidden-tablet"></li>*@
					<!-- BEGIN USER LOGIN DROPDOWN -->
					@*<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-wrench"></i>
						<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon-cogs"></i> System Settings</a></li>
							<li><a href="#"><i class="icon-pushpin"></i> Shortcuts</a></li>
							<li><a href="#"><i class="icon-trash"></i> Trash</a></li>
						</ul>
					</li>*@
					<!-- END USER LOGIN DROPDOWN -->
					<li class="divider-vertical hidden-phone hidden-tablet"></li>
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-user"></i>
						<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)"><i class="icon-user"></i>个人资料</a></li>
							<li><a href="javascript:void(0)" onclick="AccountSetting.Edit()"><i class="icon-envelope-alt"></i>修改密码</a></li>
							@*<li><a href="#"><i class="icon-tasks"></i> Tasks</a></li>
							<li><a href="#"><i class="icon-ok"></i> Calendar</a></li>*@
							<li class="divider"></li>
							<li><a href="/Home/LoginOut"><i class="icon-key"></i>退出系统</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->	
			</div>
		</div>
	</div>
	<!-- END TOP NAVIGATION BAR -->
</div>