<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<title>吉特仓储管理系统</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="/Theme/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Theme/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/Theme/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/Theme/assets/css/style.css" rel="stylesheet" />
<link href="/Theme/assets/css/style-responsive.css" rel="stylesheet" />
<link href="/Theme/assets/css/themes/default.css" rel="stylesheet" id="style_color" />
<link href="/Theme/assets/plugins/jbox-v2.3/jBox/Skins/Gray/jbox.css" rel="stylesheet" />
<link href="/Theme/assets/plugins/jquery-autocomplete3.2.2/jquery.autocomplete.css" rel="stylesheet" />
<link href="/Theme/assets/plugins/data-tables/DT_bootstrap.css" rel="stylesheet" />
<link href="/Theme/assets/plugins/mmGrid/src/mmGrid.css" rel="stylesheet" />
