<?xml version="1.0" encoding="utf-8"?>
<Settings>
  
  <setting key="SMTP_SERVER_PORT" value="25"></setting>
  <setting key="SMTP_SERVER" value="smtp.uicrm.com"></setting>
  <setting key="MAIL_USERNAME" value="do_not_reply@uicrm.com"></setting>
  <setting key="MAIL_PASSWORD" value="doq1w2e3r4"></setting>
  
  <setting key="ENCRYPT_KEY" value="qingyuan"></setting>

  <!--系统管理员角色-->
  <setting key="Super_AdminRole" value="DR_0000"></setting>

  <!--API基本地址-->
  <setting key="API_URL" value="http://127.0.0.1:8027"></setting>
  
</Settings>