/Git.WMS.Web/*.suo
/Git.WMS.Web/.vs
/Git.WMS.Web/Git.Storage.Common/obj
/Git.WMS.Web/Git.Storage.Common/bin
/Git.WMS.Web/Git.Storage.DataAccess/obj
/Git.WMS.Web/Git.Storage.DataAccess/bin
/Git.WMS.Web/Git.Storage.Entity/obj
/Git.WMS.Web/Git.Storage.Entity/bin
/Git.WMS.Web/Git.Storage.IDataAccess/obj
/Git.WMS.Web/Git.Storage.IDataAccess/bin
/Git.WMS.Web/Git.Storage.Provider/obj
/Git.WMS.Web/Git.Storage.Provider/bin
/Git.WMS.Web/Git.WMS.API/obj
/Git.WMS.Web/Git.WMS.API/bin
/Git.WMS.Web/Git.WMS.API/Log
/Git.WMS.Web/Git.WMS.Sdk/obj
/Git.WMS.Web/Git.WMS.Sdk/bin
/Git.WMS.Web/Git.WMS.Web/obj
/Git.WMS.Web/Git.WMS.Web/bin
/Git.WMS.Web/Git.WMS.Web/Log
/Git.WMS.Web/Git.WMS.ThreePart.Web/obj
/Git.WMS.Web/Git.WMS.ThreePart.Web/bin
/Git.WMS.Web/Gti.WMS.Barcode.Web/obj
/Git.WMS.Web/Gti.WMS.Barcode.Web/bin
