@{
    Layout = null;
}

<div class="widget box light-grey">

    <div class="widget-body">

        <div id="sample_1_wrapper" class="dataTables_wrapper form-inline">
            <div class="row-fluid">
                <div class="span12 search">
                    <label>产品名称: <input type="text" name="ProductName" class="input-small"></label>
                    <label>产品编号: <input type="text" name="BarCode" class="input-small"></label>
                    <button class="btn btn-primary" data-command="Search">搜索</button>
                </div>
            </div>
            <div class="row-fluid" id="tabInfo"></div>
            <div id="myMinPager" class="row-fluid" style="vertical-align:top;"></div>

        </div>
    </div>
</div>