<?xml version="1.0" encoding="utf-8"?>
<Settings>
  
  <setting key="SMTP_SERVER_PORT" value="25"></setting>
  <setting key="SMTP_SERVER" value="smtp.uicrm.com"></setting>
  <setting key="MAIL_USERNAME" value="do_not_reply@uicrm.com"></setting>
  <setting key="MAIL_PASSWORD" value="doq1w2e3r4"></setting>
  
  <setting key="ENCRYPT_KEY" value="qingyuan"></setting>

  <!--系统管理员角色-->
  <setting key="Super_AdminRole" value="DR_0000"></setting>
  
  
  
  <!--阿里大鱼短信模板-->
  <!-- 沙箱地址：	http://gw.api.tbsandbox.com/router/rest  正式地址：http://gw.api.taobao.com/router/rest -->
  <setting key="Alidayu_URL" value="http://gw.api.taobao.com/router/rest"></setting>
  <setting key="Alidayu_AppKey" value="23426295"></setting>
  <setting key="Alidayu_AppSecret" value="b94f4d9221927bd14156503673fe23d5"></setting>
  <setting key="Alidayu_SignName" value="吉特仓储管理系统"></setting>
  <setting key="Alidayu_FindPass" value="SMS_12906692"></setting>
</Settings>