@{
    Layout = null;
}

<div class="widget box light-grey">
    <div class="widget-body">
        <div id="sample_1_wrapper" class="dataTables_wrapper form-inline">
            <div class="row-fluid">
                <div class="span12 search">
                    <label>供应商编号: <input type="text" name="SupNum" class="input-small"></label>
                    <label>供应商名称: <input type="text" name="SupName" class="input-small"></label>
                    <label>电话: <input type="text" name="Phone" class="input-small"></label>
                    <button class="btn btn-primary" data-command="Search">搜索</button>
                </div>
            </div>
            <div id="tabInfo" class="row-fluid"></div>
            <div id="myMinPager" class="row-fluid" style="vertical-align:top;"></div>
        </div>
    </div>
</div>