@{
    Layout = null;
}

<div class="form-horizontal">
    <br/>
    <div class="control-group">
        <label class="control-label dialogtitle">产品编码</label>
        <div class="controls dialogcontent">
            <input type="text" name="BarCode" placeholder="双击选择产品" class="input-large" value="">
            <input type="hidden" name="ProductNum" placeholder="" class="input-large" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label dialogtitle">产品名称</label>
        <div class="controls dialogcontent">
            <input type="text" name="ProductName" placeholder="" class="input-large" disabled="disabled" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label dialogtitle">规格</label>
        <div class="controls dialogcontent">
            <input type="text" name="Size" placeholder="" class="input-large" disabled="disabled" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label dialogtitle">单价</label>
        <div class="controls dialogcontent">
            <input type="text" name="InPrice" placeholder="" class="input-large" value="">
            <span class="help-inline">元</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label dialogtitle">产品批次</label>
        <div class="controls dialogcontent">
            <input type="text" name="BatchNum" placeholder="" class="input-large" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label dialogtitle">入库库位</label>
        <div class="controls dialogcontent">
            <input type="text" name="LocalName" placeholder="双击选择库位" class="input-large" value="">
            <input type="hidden" name="LocalNum" placeholder="" class="input-large" value="">
            <input type="hidden" name="StorageNum" placeholder="" class="input-large" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label dialogtitle">数量</label>
        <div class="controls dialogcontent">
            <input type="text" name="Num" placeholder="" class="input-large" value="">
            <span class="help-inline"></span>
        </div>
    </div>
</div>