@{
    Layout = null;
}

<div class="widget box light-grey">
    <div class="widget-body">
        <div class="dataTables_wrapper form-inline">
            <table class="table table-striped table-bordered table-hover" id="tabInfo">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="item_all"/>
                        </th>
                        <th>编号</th>
                        <th>报表名称</th>
                        <th>备注</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
